.header {
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 0 2rem;
    background-color: var(--body-bg);
}

.header .navbar {
    height: 100%;
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.header .menu a {
    text-transform: uppercase;
    color: var(--text-main);
    opacity: .9;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.header .menu a:hover {
    color: var(--link);
    opacity: 1;
}

@media screen and (max-width: 672px) {
    .header {
        min-height: 6rem;
    }

    .header .navbar {
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        padding-bottom: 0.5rem;
    }    

    .header .navbar a {
        font-size: 1.15rem;
    }

    .header .menu {
        gap: 1.5rem;
    }

    .header .menu a {
        font-weight: normal;
    }

}
