.header {
    width: 100%;
    z-index: 1;
    padding: 1.5rem 0;
    background-color: var(--body-bg);
}

.header .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.header .menu a {
    padding: .4rem 1.4rem;
    border: 1px solid var(--text-minor);
    text-transform: uppercase;
    color: var(--text-minor);
    opacity: .9;
    font-size: .8rem;
    font-weight: 600;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.header .menu a:hover {
    color: var(--text-main);
    border-color: var(--text-main);
    opacity: 1;
}

@media screen and (max-width: 672px) {
    .header .menu a {
        font-size: .7rem;
    }
}


@media screen and (max-width: 400px) {
    .header .menu  {
        gap: 1rem;
    }
}
