.image .imageContainer {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.image {
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    text-align: center;
    border: 1px solid rgba(231,231,231,.1);
    padding: 2rem 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.image .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.image .name {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
    opacity: .8;
    color: var(--text-main);
}

.image .profession {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--text-minor);
}

.image .tagline {
    color: var(--text-minor);
    font-weight: 400;
    opacity: .8;
    margin: .3rem 0 .8rem 0;
}

.image .skills {
    color: var(--text-minor);
    opacity: .9;
    font-weight: 400;
    font-size: 1.1rem;
}

.image .herocta {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.image .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.image .socialMedia a {
    color: var(--text-minor);
    opacity: .7;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.image .socialMedia i {
    font-size: 2.5rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.image .socialMedia a:hover {
    opacity: .9;
}

@media screen and (max-width: 962px) {
    .image .socialMedia i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 624px) {
    .image .profession, .image .name, .image .skills {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .image .herocta {
        flex-direction: column;
    }    
}

@media screen and (max-width: 424px) {
    .image .profession {
        display: block;
    }
}