.hero {
    padding: 12rem 1rem 5rem 1rem;
}

.hero .container {
    max-width: 1100px;
    padding: 0 2rem 3rem 2rem;
    margin: auto;
    border-bottom: 1px solid rgba(231, 231, 231, .3);
}

@media screen and (max-width: 962px) {
    .hero {
        padding-bottom: 3rem;
    }  
}

@media screen and (max-width: 624px) {
    .hero {
        padding-top: 9rem;
        padding-bottom: 2rem;
    }
}
