.hero {
    padding: 3rem 1rem 2rem 1rem;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    gap: 5rem;
}

.hero .content {
    flex: 1;
    order: 2;
}

.hero .content .title {
    margin-bottom: 1rem;
    font-size: 2.4rem;
}

.hero .content .description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.hero .herocta {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero .herocta h2 {
    font-weight: 500;
    font-size: 1.6rem;
}

.hero .herocta a {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.hero .herocta a:hover {
    opacity: .9;
}

.hero .image {
    flex: .6;
}

.hero .image img {
    border: 3px solid white;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}