.skills {
    padding: 3rem 0 1rem 0; 
}

.skills .skillsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.skills .skillsWrapper .heading {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.skills .skillsContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.skills .skillsCard {
    border: 1px solid rgb(231, 231, 231);
    border-top: 3px solid var(--primary);
    box-shadow: 2px 4px 8px rgb(231, 231, 231);
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.skills .skillsHeader {

}

.skills .skillsCard img {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.skills .skillsCard img:hover {
    opacity: .8;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

@media screen and (max-width: 1120px) {
    .skills .skillsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media screen and (max-width: 700px) {
    .skills .skillsWrapper {
        display: grid;
        grid-template-columns: 1fr;
    }    
}