.aboutInfo {
    max-width: 600px;
    margin: 0 auto;
}

.aboutInfo .description {
    color: var(--text-minor);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 560px;
}

.aboutInfo .description .link {
    position: relative;
    font-weight: 500;
    color: var(--text-main);
    opacity: .8;
}

.aboutInfo .description span {
    color: var(--text-main);
    font-weight: 500;
    opacity: .8;

}

.aboutInfo .description .link::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--text-main);
    bottom: -.05rem;
    left: 0;
}

@media screen and (max-width: 642px) {
    .aboutInfo .description {
        font-size: 1.1rem;
    }
}