.aboutInfo {
    flex: 1;
    margin: 0 auto;
}

.aboutInfo .heading {
    color: var(--text-main);
    text-transform: uppercase;
    opacity: .8;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(231,231,231,.1);
    width: fit-content;
}

.aboutInfo .description {
    color: var(--text-minor);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    opacity: .7;
}

.aboutInfo .description .link {
    position: relative;
    font-weight: 500;
    color: var(--text-main);
}

.aboutInfo .description .link::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--text-main);
    bottom: -.05rem;
    left: 0;
}

@media screen and (max-width: 642px) {
    .aboutInfo .description {
        font-size: 1.1rem;
    }
}