.resumeItem {
    background-color: var(--card-bg);
    box-shadow: 4px 8px 16px var(--body-bg);
    padding: 1.5rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    width: 48%;
    position: relative;
}

.resumeItem:not(:last-child) {
    margin-bottom: 5rem;
}

.resumeItem:nth-child(odd) {
    left: 0;
}

.resumeItem:nth-child(even) {
    right: -51.8%;
}

.resumeItem:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -17px;
    background-color: var(--card-bg);
    border: 4px solid rgba(231, 231, 231, .7);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.resumeItem:nth-child(even)::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -17px;
    background-color: var(--card-bg);
    border: 4px solid rgba(231, 231, 231, .7);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.resumeItem .resumeItemHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.resumeItem .resumeItemHeader .profession {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--text-main);
    margin-bottom: 0.5rem;
    opacity: .9;
}

.resumeItem .resumeItemHeader .company {
    color: var(--text-main);
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .8;
}

.resumeItem .resumeItemHeader .timeline {
    opacity: .7;
    color: var(--text-main);
    font-weight: 400;
    font-size: 1rem;
}

.resumeItem .resumeBody .description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    color: var(--text-main);
    opacity: .7;
    font-weight: 400;
}

.resumeItem .resumeBody .resumeList {
    list-style-type: disc;
    padding-left: 2rem;
    color: var(--text-main);
    opacity: .6;  
}

.resumeItem .resumeBody .resumeList li {
    line-height: 1.6;
    font-size: 1.15rem;
    font-weight: 400;
}

@media screen and (max-width: 762px) {    
    .resumeItem .resumeItemHeader {
        flex-direction: column;
    }
    .resumeItem {
        width: 93%;
        padding-left: 30px;
        padding-right: 20px;
        margin-left: 3rem;
    }
    
    .resumeItem:nth-child(odd):after, .resumeItem:nth-child(even):after {
        left: -2rem;
    }
    
    .resumeItem:nth-child(even) {
        left: 0%;
    }

    .resumeItem:not(:last-child) {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 624px) {
    .resumeItem .resumeBody .description, .resumeItem .resumeBody .resumeList li {
        font-size: 1.1rem;
    }
    .resumeItem .resumeItemHeader .company {
        font-size: 1.1rem;
    }

    .resumeItem .resumeItemHeader .profession {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 424px) {
    .resumeItem .resumeItemHeader {
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    .resumeItem .resumeBody {
        display: none;
    }
}