.services {
    padding: 4rem 0;
    background-color: var(--card-bg);
}

.services .servicesWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2rem;
}


@media screen and (max-width: 600px) {
    .services .servicesWrapper {
        gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .services .servicesWrapper {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

