.content {
    flex: 1;
    background-color: var(--card-bg);
    box-shadow: 4px 8px 16px var(--body-bg);
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.content .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .9;
    color: var(--text-main);
}

.content .description {
    color: var(--text-minor);
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1rem;
    opacity: .7;
}

.content .description a {
    color: var(--text-main);
    text-decoration: underline;
    font-weight: 400;
}

.content .btnDownload {
    border: 1px solid var(--text-minor);
    background-color: var(--border);
    color: var(--text-main);
    display: inline-block;
    margin-top: 2rem;
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.content .btnDownload:hover {
    opacity: .9;
    color: var(--text-main);
}

@media screen and (max-width: 962px) {
    .content {
        padding: 0 1rem 3rem 1rem;
        background-color: transparent;
    }

    .content .btnDownload {
        margin-top: 1rem;
    }

    .content .description:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 624px) {
    .content {
        margin-bottom: .5rem;
    }

    .content .title {
        font-size: 1.5rem;
    }

    .content .description {
        font-size: 1.3rem;
    }

    .content .btnDownload {
        font-size: 1rem;
    }

}

@media screen and (max-width: 424px) {
    .content {
        display: none;
    }
}
