.content {
    flex: 1;
}

.content .title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    opacity: .9;
}

.content .description {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1rem;
    opacity: .7;
}

.content .description a {
    color: var(--link);
    font-weight: 500;
}

.content .btnDownload {
    display: inline-block;
    margin-top: 2rem;
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.content .btnDownload:hover {
    opacity: .8;
}

@media screen and (max-width: 962px) {
    .content {
        padding: 0 1rem;
    }

    .content .btnDownload {
        margin-top: 1rem;
    }

    .content .description:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 624px) {
    .content {
        margin-bottom: .5rem;
    }

    .content .title {
        font-size: 1.5rem;
    }

    .content .btnDownload {
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .content {
        padding: 1rem;
    }

}


@media screen and (max-width: 424px) {
    .content {
        display: none;
    }
}
