.about {
    padding: 10rem 1rem 2rem 1rem;
    display: flex;
    max-width: 1300px;
    margin: auto;
    gap: 5rem;
}

@media screen and (max-width: 962px) {
    .about {
        flex-direction: column;
    }
}