.blog {
    padding: 7rem 0;
}

.blog .postsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (max-width: 1100px) {
    .blog .postsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .blog .postsWrapper {
        grid-template-columns: 1fr;
    }
}