.blog {
    padding: 8rem 0 3rem 0;
}

.blog .search {
    max-width: 600px;
    margin: auto;
    margin-bottom: 4rem;
    background-color: var(--border);
    border: 1px solid rgba(231, 231, 231, .5);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.blog .search i {
    color: rgba(231, 231, 231, .7);
    margin-left: .5rem;
    font-size: 1rem;
}

.blog .search .searchInput {
    background-color: var(--border);
    border: none;
    padding: .5rem;
    width: 100%;
    outline-width: 0;
    font-size: 1.1rem;
    color: var(--text-main);
    opacity: .8;
}

.blog .search .searchInput:active {
    background-color: var(--border);
    color: var(--text-main);
}

.blog .search .searchInput i {
    color: var(--text-main);
}

.blog .postsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (max-width: 1000px) {
    .blog .postsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 642px) {
    .blog .postsWrapper {
        grid-template-columns: 1fr;
    }
}