@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root {
  /* LIght theme */
  --white: #fff;
  --black: #000;
  --background-light: whitesmoke;
  --primary-light: #072227;
  --text-light: #222831;
  --link: #F56D91;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.wrap {
  padding-bottom: 10rem;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, button, a, span {
  letter-spacing: 2px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section-header .heading {
  font-weight: 600;
  font-size: 1.7rem;
  position: relative;
}

.section-header a {
  color: var(--link);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.section-header a:hover {
  opacity: .9;
}

.section-header a i {
  font-size: 1rem;
  margin-left: 0.4rem;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.section-header a:hover i {
  margin-left: 0.5rem;
  opacity: .9;
}


@media screen and (max-width: 700px) {
  .section-header a i {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .section-header .heading {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .section-header a {
    font-size: 1.3rem;
  }
}