@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root {
  --white: #fff;
  --black: #000;
  --primary: #072227;
  --text: #222831;
  --link: #35589A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: 'Dosis', sans-serif;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.wrap {
  padding-bottom: 3rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, button, a, span {
  letter-spacing: 2px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section-header .heading {
  font-weight: 500;
  font-size: 2rem;
  position: relative;
  color: var(--primary);
}

.section-header .heading::before {
  position: absolute;
  content: "";
  background-color: var(--primary);
  bottom: -.3rem;
  width: 60px;
  height: 1px;
}

.section-header a {
  color: var(--link);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.section-header a:hover {
  opacity: .9;
}

.section-header a i {
  font-size: 1rem;
}
