@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

:root {
  --white: #fff;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: 'Dosis', sans-serif;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.wrap {
  padding-bottom: 3rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, button, a, span {
  letter-spacing: 2px;
}

footer {
  height: 3rem;
  position: absolute;
}