.home {
    padding: 10rem 1rem 3rem 1rem;
}

.home .homeWrapper {
    display: flex;
    gap: 3rem;
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 962px) {
    .home .homeWrapper {
        flex-direction: column;
    }
}