.projects {
    padding: 6rem 0 3rem 0;
}

.projects .projectsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (max-width: 1120px) {
    .projects .projectsWrapper {
        grid-template-columns: 1fr;
    }
}

.blogPosts {
    padding: 4rem 0 1rem 0;
}

.blogPosts .posts {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (max-width: 1000px) {
    .blogPosts .posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogPosts .posts .post:last-child {
        display: none;
    }
}

@media screen and (max-width: 642px) {
    .blogPosts .posts {
        grid-template-columns: 1fr;
    }
}