.postPage {
    padding: 7rem 0;
}

.postPage .postWrapper {
    max-width: 850px;
    margin: auto;
    margin-bottom: 5rem;
}

.postPage .postWrapper .postImg {
    width: 100%;
    object-fit: cover;
}

.postPage .postHeader {
    margin: 2rem 0 .4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postPage .postHeader .title {
    font-weight: 500;
    font-size: 1.8rem;
    opacity: .9;
}

.postPage .postHeader .date {
    color: var(--text);
    opacity: .8;
}

.postPage .ert {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    opacity: .8;
}

.postPage .postIntro {
    margin-bottom: 2rem;
}

.postPage .postIntro .intro {
    line-height: 1.6;
    line-height: 1.4;
    font-size: 1.3rem;
    opacity: .7;
    font-weight: 400;
}

.postPage .postBody img {
    margin: 1rem 0;
    width: 100%;
    object-fit: cover;
}

.postPage .postBody p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.6;
    opacity: .7;
}

.postPage .postBody pre  {
    opacity: .7;
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.postPage blockquote {
    background-color: whitesmoke;
    padding: .8rem;
}

.postPage blockquote p {
    line-height: 1.4;
    padding: .5rem;
    font-size: 1.3rem;
    color: var(--text-light);
    opacity: .7;
}

.postPage blockquote li {
    line-height: 1.4;
    padding: .5rem;
    font-size: 1.35rem;
    color: var(--text-light);
    opacity: .7;
}


.postPage p img {
    max-width: 100%;
}

.postPage p > strong {
    font-weight: 400;
}

.postPage .postBody a {
    text-transform: capitalize;
    opacity: .7;
    font-weight: 400;
    color: var(--link);
    border-bottom: 2px solid var(--link);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.postPage .postBody a:hover {
    opacity: .8;
}

.postPage .postBody h2 {
    margin-top: 3rem;
    opacity: .8;
}

.postPage .postBody b {
    font-weight: 500;
}

.postPage .postBody ol {
    padding-left: 2rem;
}

@media screen and (max-width: 642px){
    .postPage .postHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .postPage .postHeader .title {
        font-size: 1.6rem;
    }

    .postPage .postHeader .date {
        font-size: 1rem;
    }

    .postPage .ert {
        font-size: 1rem;
    }

    .postPage .postBody .description {
        line-height: 1.2;
    }
}

.postPage .relatedPosts {
    max-width: 1250px;
    margin: auto;
    padding: 0 1rem;
}

.postPage .otherPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

@media screen and (max-width: 642px) {
    .postPage .otherPosts {
        grid-template-columns: 1fr;
    }

    .postPage .postIntro .intro, .postPage .postBody p, .postPage .postBody .description, .postPage blockquote p, .postPage blockquote li {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 424px) {
    .postPage .postIntro .intro {
        line-height: 1.2;
    }

    .postPage .postBody p {
        line-height: 1.2;
    }

}
