.postPage {
    padding: 7rem 0;
}

.postPage .postWrapper {
    max-width: 750px;
    margin: auto;
    margin-bottom: 5rem;
}

.postPage .postWrapper .postImg {
    width: 100%;
}

.postPage .postHeader {
    margin: 2rem 0 .4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postPage .postHeader .title {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--primary);
}

.postPage .postHeader .date {
    color: var(--text);
    font-weight: 500;
}

.postPage .ert {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    color: var(--text);
    opacity: .8;
}

.postPage .postBody p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.postPage .postBody pre  {
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.postPage p img {
    max-width: 100%;
}

.postPage p > strong {
    font-size: 2rem;
    font-weight: 600;
}


@media screen and (max-width: 642px){
    .postPage .postHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .postPage .postHeader .title {
        font-size: 1.8rem;
    }

    .postPage .postBody .description {
        line-height: 1.3;
    }
}

.postPage .relatedPosts {
    padding-top: 5rem;
}

.postPage .otherPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media screen and (max-width) {

}