.postPage {
    padding: 7rem 2rem 3rem 2rem;
}

.postPage .postWrapper {
    max-width: 850px;
    margin: auto;
    margin-bottom: 5rem;
}

.postPage .postWrapper .postImg {
    width: 100%;
    object-fit: cover;
}

.postPage .postHeader {
    margin: 2rem 0 .4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postPage .postHeader .title {
    font-weight: 400;
    font-size: 1.8rem;
    opacity: .9;
    color: var(--text-main);
}

.postPage .postHeader .date {
    color: var(--text-minor);
    opacity: .6;
}

.postPage .ert {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    opacity: .7;
    color: var(--text-minor);

}

.postPage .postIntro {
    margin-bottom: 2rem;
}

.postPage .postIntro .intro {
    font-size: 1.3rem;
    line-height: 1.6;
    opacity: .9;
    font-weight: 300;
    color: var(--text-minor);
}

.postPage .postBody img {
    margin: 1rem 0;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.postPage .postBody p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 1rem;
    opacity: .9;
    font-weight: 300;
    color: var(--text-minor);
}

.postPage .postBody pre  {
    opacity: .7;
    max-width: 100%;
    line-height: 1.6;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    color: var(--body-bg);
    padding: 1rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.postPage blockquote {
    background-color: whitesmoke;
    padding: .8rem;
}

.postPage blockquote p {
    font-weight: 400;
    line-height: 1.6;
    padding: .5rem;
    font-size: 1.3rem;
    color: var(--body-bg);
    opacity: .7;
}

.postPage blockquote li {
    font-weight: 400;
    line-height: 1.4;
    padding: .5rem;
    font-size: 1.3rem;
    color: var(--body-bg);
    opacity: .7;
    line-height: 1.6;
}

.postPage p img {
    max-width: 100%;
}

.postPage p > strong {
    font-weight: 400;
}

.postPage .postBody em {
    color: var(--text-minor);
    opacity: .7;
}

.postPage .postBody a {
    color: var(--text-main);
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: underline;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.postPage .postBody a:hover {
    opacity: .8;
}

.postPage .postBody h2 {
    margin-top: 3rem;
    font-weight: 400;
    color: var(--text-minor);
    opacity: .8;
}

.postPage .postBody b {
    font-weight: 400;
}

.postPage .postBody ol {
    padding-left: 2rem;
}

.postPage .relatedPosts {
    max-width: 1160px;
    margin: auto;
}

.postPage .otherPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

@media screen and (max-width: 642px){
    .postPage .postHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .postPage .postHeader .title {
        font-size: 1.5rem;
    }

    .postPage .postHeader .date {
        font-size: 1rem;
    }

    .postPage .ert {
        font-size: 1rem;
    }

    .postPage .otherPosts {
            grid-template-columns: 1fr;
        }

    .postPage .postIntro .intro, .postPage .postBody p, .postPage .postBody .description, .postPage blockquote p, .postPage blockquote li {
        font-size: 1.25rem;
    }
}
