.resume {
    padding: 12rem 0 3rem 0;
}

.resume .resumeWrapper {
    position: relative;
}

.resume .resumeWrapper::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

@media screen and (max-width: 762px) {
    .resume .resumeWrapper::after {
        left: 31px;
    }
}