.resume {
    padding: 12rem 0 3rem 0;
}

.resume .resumeWrapper {
    position: relative;
}

.resume .resumeWrapper::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: rgba(231, 231, 231, .5);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.resume .resumeHeader {
    text-align: center;
    padding: 0 0 3rem 0;
}

.resume .resumeHeader .heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-main);
    opacity: .9;
}

@media screen and (max-width: 762px) {
    .resume .resumeWrapper::after {
        left: 31px;
    }

    .resume .resumeHeader .heading {
        font-weight: 500;
        font-size: 1.8rem;
    }
}